<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="/static/media/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />

<link href="/static/media/css/bootstrap-responsive.min.css" rel="stylesheet"
	type="text/css" />

<link href="/static/media/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<link href="/static/media/css/style-metro.css" rel="stylesheet" type="text/css" />

<link href="/static/media/css/style.css" rel="stylesheet" type="text/css" />

<link href="/static/media/css/style-responsive.css" rel="stylesheet"
	type="text/css" />

<link href="/static/media/css/default.css" rel="stylesheet" type="text/css"
	id="style_color" />

<link href="/static/media/css/uniform.default.css" rel="stylesheet"
	type="text/css" />

<!-- END GLOBAL MANDATORY STYLES -->