<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse">

	<!-- BEGIN SIDEBAR MENU -->

	<ul class="page-sidebar-menu">

		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

			<div class="sidebar-toggler hidden-phone"></div> <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

		</li>



		<li class="start active "><a href="index"><i class="icon-home"></i>
				<span class="title">Home</span> <span class="selected"></span> </a></li>

		<li class=""><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">用户管理</span> <span class="arrow "></span>
		</a>


			<ul class="sub-menu">

				<li><a href="/admin/add">添加用户</a></li> 
				<li><a href="/admin/list">管理用户</a></li> 

			</ul></li>
		<li class=""><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">角色管理</span> <span class="arrow "></span>
		</a>


			<ul class="sub-menu">

				<li><a href="/role/add">添加角色</a></li> 
				<li><a href="/role/index">管理角色</a></li> 

			</ul></li>
		<li class=""><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">资源管理</span> <span class="arrow "></span>
		</a>


			<ul class="sub-menu">
				<li><a href="/resource/add">添加资源</a></li> 
				<li><a href="/resource/index">管理资源</a></li> 
			</ul></li>
			
			<li class=""><a href="javascript:;"> <i class="icon-user"></i>
				<span class="title">权限管理</span> <span class="arrow "></span>
		</a>


			<ul class="sub-menu">
				<li><a href="/authority/user-role">用户角色</a></li> 
				<li><a href="/authority/role-resource">角色资源</a></li> 
			</ul></li>

	</ul>

	<!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR